<script src="__PUBLIC__/Images/Jquery/Nakedpassword/naked_password.js?v=0.2.3" type="text/javascript"></script>

{script}
//<![CDATA[
$(document).ready(function(){
	$("#old-password,#user-password,#new-password").nakedPassword({path: "__PUBLIC__/Images/Jquery/Nakedpassword/images/"});
});
//]]>
{/script}

{$before}
	<form id="passwordform" name="passwordform" autocomplete="off" method="post" action="{:G::U('member/change_pass')}">
	{$before_table}
			<table>
			<tbody>
					 <tr>
							 <td class="label"><label id="label-old-password" for="old_password">*<lang>旧密码</lang></label></td>
							 <td class="field"><input id="old-password" name="old_password" type="password" value="" maxlength="25" /></td>
					 </tr>
				 <tr>
							 <td class="label"><label id="label-user-password" for="user-password">*<lang>新密码</lang></label></td>
							 <td class="field"><input id="user-password" name="user_password" type="password" value="" maxlength="25" /></td>
					 </tr>
					 <tr>
							<td class="label"><label id="label-new-password" for="new_password">*<lang>确认新密码</lang></label></td>
							<td class="field"><input id="new-password" name="new_password" type="password" maxlength="25" value="" /></td>
					 </tr>
				 {if $seccode===true}
					<tr>	
					<td valign="top">&nbsp;</td>
					<td><p> 
						<input onfocus="updateSeccode();this.onfocus=null;" onBlur="checkSeccode();" type="text"	class="seccode" name="seccode" size="6" id="seccode" tabindex="8" />
						<label for="seccode"><small><lang>验证码</lang></small></label>
						<span class="seccodeMessage" id="seccodeMessage">&nbsp;</span>
						<div class="seccodeImage" id="seccodeImage"></div>	
						<input type="hidden" id="seccode_type" name="seccode_type" value="password" />
						</p>
				 </td>
				 </tr>
				 {/if}
					 <tr>
							<td class="label"><label id="label-password-submit" for="password-submit"><lang>修改密码</lang></label></td>
							<td class="field" colspan="2">
							<input id="password-submit" name="password_submit" type="submit" value="<lang>修改密码</lang>" />
							</td>
						</tr>
			 </tbody>
			 </table>
		{$after_table}
	</form>
{$after}